

<html>

<head>
</head>

<body>
    <div class="wrap">
				<p class="info_text">💡 회원가입 인증 코드</p>
        <div class="info_code">
            <a href="http://localhost:5000/api/auth/signup?auth=<%= emailAuthToken %>" target="_blank" title="가입버튼">가입하기</a>
        </div>
    </div>
</body>

</html>