<html>
    <head>
    </head>
    <body>
        <div class="wrap">
                    <p class="info_text">๐ก ๋ก๊ทธ์ธ ์ธ์ฆ ์ฝ๋</p>
            <div class="info_code">
                <a href="http://localhost:5000/api/auth/login?auth=<%= emailAuthToken %>" target="_blank" title="๋ก๊ทธ์ธ๋ฒํผ">๋ก๊ทธ์ธํ๊ธฐ</a>
            </div>
        </div>
    </body>
</html>